@charset "UTF-8";

/* 印刷用 */
@media print{
    @page{
        margin: 5mm 5mm 10mm 5mm;
        size: A4 portrait; /* 297mm x 210mm */
    }

    :root{
        /* Lauout */
        --main-split-center: 100%;
        --main-split-right: 100%;

        /* Font */
        --font-size-xl: 14pt;
        --font-size-l: 12pt;
        --font-size-m: 10pt;
        --font-size-s: 8pt;
        --font-size-xs: 6pt;
    }

    /* Base */
    body{
        color: var(--color-print-dark);
        background-color: var(--color-print-light);
    }

    a{
        color: var(--color-print-dark);
    }

    video{
        display: none;
    }

    .img-portrait-small{
        /* A4 1/12size */
        max-height: 49.5mm;
        object-fit: contain;
    }

    .img-portrait{
        /* A4 1/8size */
        max-height: 74.25mm;
        object-fit: contain;
    }

    .img-landscape{
        /* A4 1/4size */
        max-width: 148.5mm;
        object-fit: contain;
    }

    .img-square{
        /* A4 短篇 1/9size */
        max-width: 70mm;
        object-fit: contain;
    }

    .no-print{
        display: none;
    }

    /* Code */
    [class^="language"]{
        color: var(--color-base-dark);
        background-color: transparent;
        overflow-x: auto;
        border: solid 1px var(--color-base-dark);
    }

    /* Header */
    header{
        display: none;
    }

    /* Main */
    main{
        padding-top:0;
    }

    .next_page{
        break-after: page;
    }

    /* Article */
    #article_tags span{
      color: var(--color-accent-dark);
      border-color: var(--color-accent-dark);
    }

    article li{
        margin-top: 0.25rem;
        line-height: 1.3;
    }

    /* Aside */
    aside {
        display: none;
    }

    /* Footer */
    footer{
        display: none;
    }
}

@media screen{
    /* Base */
    .no-display{
        display: none;
    }

    .next_page{
        display: none;
    }
}
