@charset "UTF-8";

/* Common */
:root{
    /* Color */
    --color-base-light: #eae4d7;
    --color-base-dark: #3a3b3b;
    --color-base-dark-trans: #3a3b3bdd;
    --color-accent-light: #e6cdbf;
    --color-accent-dark: #8f3a43;

    /* Font */
    --font-family-sans: "M PLUS 1p", sans-serif;
    --font-family-mono: "M PLUS 1 Code", monospace;
    --font-size-xl: 2.1rem;
    --font-size-l: 1.8rem;
    --font-size-m: 1.35rem;
    --font-size-s: 1.1rem;
    --font-size-xs: 0.91rem;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;

    /* Layout */
    --header-height: 4.4rem;
    --header-heading-width: 55%;
    --main-direction: row;
    --main-split-left: 0%;
    --main-split-center: 65%;
    --main-split-right: 30%;

    /* Image */
    --image-width: 67%;

    /* Navigation */
    --nav-justify: end;
}

@media(max-width:768px){
    :root{
        /* Font */
        --font-size-xl: 1.65rem;
        --font-size-l: 1.5rem;
        --font-size-m: 1.2rem;
        --font-size-s: 1.0rem;
        --font-size-xs: 0.83rem;

        /* Layout */
        --header-height: 4.4rem;
        --header-heading-width: auto;
        --main-direction: column;
        --main-split-left: 0%;
        --main-split-center: 100%;
        --main-split-right: 100%;

        /* Image */
        --image-width: 100%;

        /* Navigation */
        --nav-justify: start;
    }

    /* Header */
    header h1{
        position: fixed;
        top: 0.5rem;
    }
    /* Navigation */
    header nav{
        flex-basis: 75%;
    }
    header nav label{
        display: inline-block;
        position: fixed;
        top: 1rem;
        right: 1rem;
        width: 2.5rem;
        height: 2.5rem;
        cursor: pointer;
        z-index: 103;
    }
    header nav span{
        display: block;
        height: 0.2rem;
        margin: 0.4rem 0;
        background: var(--color-accent-light);
        border-radius: 2px;
        transition: 0.4s;
    }
    #header-mobile-menu-check:checked + #header-mobile-menu-icon span:nth-child(1) {
        transform: translateY(10px) rotate(45deg);
    }
    #header-mobile-menu-check:checked + #header-mobile-menu-icon span:nth-child(2) {
        opacity: 0;
    }
    #header-mobile-menu-check:checked + #header-mobile-menu-icon span:nth-child(3) {
        transform: translateY(-10px) rotate(-45deg);
    }
    .overlay {
        position: fixed;
        inset: 0;
        background: var(--color-base-dark-trans);
        opacity: 0;
        pointer-events: none;
        transition: 0.4s;
        z-index: 101;
    }
    #header-mobile-menu-check:checked ~ .overlay {
        opacity: 0.5;
        top:0;
        left:0;
        width:100vw;
        height:100vh;
        pointer-events: auto;
    }

    #menu{
        position: fixed;
        flex-direction: column;
        top: 0;
        right: -50vw;
        width: 40vw;
        height: 100vh;
        background: var(--color-base-dark);
        box-shadow: 2px 0 8px rgba(0,0,0,0.2);
        transition: left 0.4s ease;
        z-index: 102;
    }
    #header-mobile-menu-check:checked ~ #menu{
        right: 0px;
    }
    #menu li:nth-child(1){
        margin: 4em 1rem 0.25rem;
    }
    #menu li{
        margin: 0.25rem 1rem;
    }
    #menu a{
        color: var(--color-base-light);
        font-size: calc(50vw * 0.1);
        transition: color 0.3s;
    }
}

/* Base */
html{
    font-size: 100%;
    scroll-behavior: smooth;
}

img{
    width: var(--image-width);
}

body{
    position: relative;
    font-family: var(--font-family-sans);
    font-size: var(--font-size-s);
    font-style: normal;
    font-weight: var(--font-weight-regular);
    line-height: 1.5;
    color: var(--color-base-dark);
    background-color: var(--color-base-light);
    width: 100%;
    height: auto;
    z-index: 0;
}

h1, h2, h3, h4, h5{
    color: var(--color-accent-dark);
    font-weight: var(--font-weight-bold);
    padding-top: 1em;
}
h1{
    font-size: var(--font-size-xl);
}
h2{
    font-size: var(--font-size-l);
    border-bottom: 2px solid var(--color-accent-dark);
    margin-bottom: calc(var(--font-size-l) * 0.5);
}
h3{
    font-size: var(--font-size-m);
    border-bottom: 1px solid var(--color-accent-dark);
    margin-bottom: calc(var(--font-size-m) * 0.5);
}
h4,
h5{
    margin-bottom: 0.5em;
}

ul, ol{
    list-style-position: inside;
    padding-left: 0.5rem;
}

table{
    margin-top: 0.5rem;
    border-spacing: 0;
    border-collapse: collapse;
}
th, td{
    font-size: var(--font-size-xs);
    border: 1px solid var(--color-base-dark-trans);
    padding: 0.25rem 0.5rem;
}
th{
    font-weight: var(--font-weight-medium);
    background-color: var(--color-accent-light);
}

/* Code */
[class^="language"]{
    font-family: var(--font-family-mono);
    font-weight: var(--font-weight-regular);
    color: var(--color-base-light);
    background-color: var(--color-base-dark);
    overflow-wrap: break-word;
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-color: var(--color-base-light);
    line-height: 1.3;
    width: 100%;
    padding: 1rem;
    margin: 0.5rem 0;
}
[class^="language-"]::-webkit-scrollbar{
  display: block;
  width: 0.625rem;
  height: 0.625rem;
}
[class^="language-"]::-webkit-scrollbar-track{
  background: var(--color-accent-light);
  border-bottom: 1px solid var(--color-accent-dark);
}
[class^="language-"]::-webkit-scrollbar-thumb{
  background: var(--color-accent-dark);
  border: 1px solid var(--color-accent-light);
  border-radius: 0.625rem;
}

.container{
    width: 94%;
    max-width: 1440px;
    margin: 0 auto;
}


/* Header */
header{
    position: fixed;
    top: 0;
    color: var(--color-base-light);
    background-color: var(--color-base-dark-trans);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    width: 100%;
    height: var(--header-height);
    padding: 1px;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1{
    width: var(--header-heading-width);
    text-align: left;
    padding: 0;
    margin: 0;
}

header nav{
    width: 45%;
    text-align: right;
}

header ul{
    display: flex;
    justify-content: var(--nav-justify);
    list-style: none;
}

header a{
    display: inline-block;
    color: var(--color-base-light);
    text-decoration: none;
    border:1px solid transparent;
    border-radius: 1rem;
    padding: 0.5rem 0.25rem 0.5rem 0;
    transition: all 300ms;
}
header a:hover{
    color: var(--color-base-dark);
    background-color: var(--color-base-light);
}

header ul a{
    width: 6em;
    text-align: center;
    padding: 1rem 0;
}

/* main */
main{
    display: flex;
    flex-direction: var(--main-direction);
    justify-content: space-between;
    padding-top: var(--header-height);
}


/* article */
article{
    width: var(--main-split-center);
    max-width: var(--main-split-center);
}

#article_header{
    color: var(--color-accent-dark);
    font-size: var(--font-size-xs);
    font-weight: var(--font-weight-regular);
}

#article_tags{
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem 0.5rem;
    padding-top: 1rem;
}

#article_tags span{
    display: inline-block;
    font-weight: var(--font-weight-medium);
    color: var(--color-base-light);
    background-color: var(--color-accent-dark);
    border: 1px solid transparent;
    border-radius: 1rem;
    padding: 0.25rem 0.5rem;
}

article li{
    margin-top: 0.5rem;
    line-height: 1.3;
}


/* aside */
aside{
    min-width: var(--main-split-right);
    width: var(--main-split-right);
    max-width: var(--main-split-right);
}

aside dt{
    font-size: 1.5rem;
    font-weight: var(--font-weight-medium);
}

aside dl{
    text-align: center;
}

aside dl img{
    width: 180px;
    border-radius: 50%;
}

aside dd{
    padding-top: 0.5rem;
    text-align: left;
}

aside ul li{
    margin-top: 0.5rem;
    line-height: 1.3;
}

/* footer */
footer {
    width: 100%;
    color: var(--color-base-light);
    background-color: var(--color-base-dark-trans);
    text-align: center;
    padding: 1.5rem 0 0.75rem;
    margin-top: 2rem;
}

footer a {
    color: var(--color-base-light);
}