@charset "UTF-8";
/* フォントサブセット 平仮名・片仮名・日本語常用漢字・数字・記号 */
@font-face{ font-family: "M PLUS Rounded 1c Black Min JP"; src: url(../assets/fonts/subset/MPLUSRounded1c-Black-Min-JP.woff2) format(woff2), url(../assets/fonts/subset/MPLUSRounded1c-Black-Min-JP.woff) format(woff); }
@font-face{ font-family: "M PLUS Rounded 1c ExtraBold Min JP"; src: url(../assets/fonts/subset/MPLUSRounded1c-ExtraBold-Min-JP.woff2) format(woff2), url(../assets/fonts/subset/MPLUSRounded1c-ExtraBold-Min-JP.woff) format(woff); }
@font-face{ font-family: "Noto Sans JP Bold Min JP"; src: url(../assets/fonts/subset/NotoSansJP-Bold-Min-JP.woff2) format(woff2), url(../assets/fonts/subset/NotoSansJP-Bold-Min-JP.woff) format(woff); }
@font-face{ font-family: "Noto Sans JP Min JP"; src: url(../assets/fonts/subset/NotoSansJP-Regular-Min-JP.woff2) format(woff2), url(../assets/fonts/subset/NotoSansJP-Regular-Min-JP.woff) format(woff); }


/* ■■■ 共通テーマ ■■■*/
:root{
    /* 文字色 */
    --color-font: #333;
    --color-font-white: #FAFAFA;
    --color-font-red: #ED1818; 
    --color-font-green: #2DB82D;
    --color-font-blue: #1F4E8C;
    --color-font-yellow: #B89B00;

    /* 色 ※数字は透明度を表す */
    --color-white: #FAFAFA;
    --color-black: #333;
    --color-red:#ED1818;
    --color-green: #2DB82D;
    --color-green-light: #50C850;
    --color-blue: #1F4E8C;
    --color-blue-footer: #12335E;
    --color-yellow:#FFD700;

    /* フォントサブセット(使用文字のみ) */
    --font-family-title-black: "M PLUS Rounded 1c Black Min JP", "Hiragino Kaku Gothic ProN", "Hiragino Sans", "BIZ UDPGothic", sans-serif;
    --font-family-title-exbold: "M PLUS Rounded 1c ExtraBold Min JP", "Hiragino Kaku Gothic ProN", "Hiragino Sans", "BIZ UDPGothic", sans-serif;
    --font-family-text-bold: "Noto Sans JP Bold Min JP", "Hiragino Kaku Gothic ProN", "Hiragino Sans", "BIZ UDPGothic", sans-serif;
    --font-family-text: "Noto Sans JP Min JP", "Hiragino Kaku Gothic ProN", "Hiragino Sans", "BIZ UDPGothic", sans-serif;

    /* フォントスタイル */
    --font-style: normal;

    /* フォントサイズ (最小375px - 最大540px） */
    --font-size-36: clamp(2.25rem, 1.176rem + 4.582vw, 2.723rem);
    --font-size-32: clamp(2rem, 1.045rem + 4.073vw, 2.42rem);
    --font-size-30: clamp(1.875rem, 0.980rem + 3.818vw, 2.269rem);
    --font-size-24: clamp(1.5rem, 0.784rem + 3.055vw, 1.815rem);
    --font-size-20: clamp(1.25rem, 0.653rem + 2.545vw, 1.512rem);
    --font-size-18: clamp(1.125rem, 0.588rem + 2.291vw, 1.361rem);
    --font-size: clamp(1rem, 0.523rem + 2.036vw, 1.21rem);
    --font-size-14: clamp(0.875rem, 0.457rem + 1.782vw, 1.05875rem);
    --font-size-12: clamp(0.75rem, 0.392rem + 1.527vw, 0.907rem);

    /* 共通スタイル */
    --container-width: 92%;
    --content-width-min: 320px;
    --content-width-max: 540px;
}


/* ■■■ 共通クラス：フォントファミリー ■■■ */
/* 見出し用フォント（weight:900） */
.font-title-black-36,
.font-title-black-32,
.font-title-black-30,
.font-title-black-24,
.font-title-black-20,
.font-title-black-18,
.font-title-black,
.font-title-black-14,
.font-title-black-12{
    font-family: var(--font-family-title-black);
    font-style: var(--font-style);
}

/* 見出し用フォント（weight:800） */
.font-title-exbold-36,
.font-title-exbold-32,
.font-title-exbold-30,
.font-title-exbold-24,
.font-title-exbold-20,
.font-title-exbold-18,
.font-title-exbold,
.font-title-exbold-14,
.font-title-exbold-12{
    font-family: var(--font-family-title-exbold);
    font-style: var(--font-style);
}

/* テキスト用フォント（weight:700） */
.font-text-bold-36,
.font-text-bold-32,
.font-text-bold-30,
.font-text-bold-24,
.font-text-bold-20,
.font-text-bold-18,
.font-text-bold,
.font-text-bold-14,
.font-text-bold-12{
    font-family: var(--font-family-text-bold);
    font-style: var(--font-style);
}

/* テキスト用フォント（weight:400） */
.font-text-36,
.font-text-32,
.font-text-30,
.font-text-24,
.font-text-20,
.font-text-18,
.font-text,
.font-text-14,
.font-text-12{
    font-family: var(--font-family-text);
    font-style: var(--font-style);
}


/* ■■■ (共通クラス：フォントサイズ) ■■■ */
.font-title-black-36,
.font-title-exbold-36,
.font-text-bold-36,
.font-text-36{
    font-size: var(--font-size-36);
}

.font-title-black-32,
.font-title-exbold-32,
.font-text-bold-32,
.font-text-32{
    font-size: var(--font-size-32);
}

.font-title-black-30,
.font-title-exbold-30,
.font-text-bold-30,
.font-text-30{
    font-size: var(--font-size-30);
}

.font-title-black-24,
.font-title-exbold-24,
.font-text-bold-24,
.font-text-24{
    font-size: var(--font-size-24);
}

.font-title-black-20,
.font-title-exbold-20,
.font-text-bold-20,
.font-text-20{
    font-size: var(--font-size-20);
}

.font-title-black-18,
.font-title-exbold-18,
.font-text-bold-18,
.font-text-18{
    font-size: var(--font-size-18);
}

.font-title-black,
.font-title-exbold,
.font-text-bold,
.font-text{
    font-size: var(--font-size);
}

.font-title-black-14,
.font-title-exbold-14,
.font-text-bold-14,
.font-text-14{
    font-size: var(--font-size-14);
}

.font-title-black-12,
.font-title-exbold-12,
.font-text-bold-12,
.font-text-12{
    font-size: var(--font-size-12);
}


/* ■■■ 共通クラス：背景 */
.plaid-green{
    width: 100%;
    height: 100%;
    background-image:
        linear-gradient(45deg, var(--color-green-24ight) 25%, transparent 25%, transparent 75%, var(--color-green-24ight) 75%),
        linear-gradient(45deg, var(--color-green-24ight) 25%, transparent 25%, transparent 75%, var(--color-green-24ight) 75%);
  background-position: 0 0, 32px 32px;
  background-size: 64px 64px;
  background-color: var(--color-white);
}


/* ■■■ 共通ID：コンテンツエリア ■■■ */
#desktop-area{
    position: fixed;
    top: 0px;
    width: 100vw;
    height: 100vh;
    background-color: var(--color-blue-deep);
    overflow-x: hidden;
    z-index: -100;
}

#mobile-area{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--color-white);
    background-image: url("../assets/img/background-b1.svg");
    background-repeat: repeat-y;
    background-position-x: center;
    background-origin: border-box;
    background-size: 100%;
    min-width: var(--content-width-min);
    width: 100%;
    max-width: var(--content-width-max);
    margin: 0 auto;
    z-index: 0;
}
#mobile-area *{
    position: relative;
}


/* ■■■ 共通クラス：コンテナ ■■■ */
.content{
    min-width: var(--content-width-min);
    max-width: var(--content-width-max);
    margin: 0 auto;
}

.container{
    width: var(--container-width);
    margin: 0 auto;
}


/* ■■■ 共通クラス：コンテンツ自動スクロール領域(デスクトップ用) ■■■ */
.marquee{
  position: relative;
  display: flex;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
  gap: 1rem;
  font-size: 3rem;
}


/* ■■■ 共通スタイル：タグ ■■■ */
html{
    scroll-behavior: smooth;
    background-color: var(--color-white);
    font-family: var(--font-family-text);
    font-style: var(--font-style);
    font-size: var(--font-size);
}

h1,h2,h3,h4,h5{
    font-family: var(--font-family-title-black);
}

a{
    text-decoration: none;
}

img{
    width: 100%;
}

section{
    margin-top: 24px;
}

header{
    z-index: 100;
}

main{
    margin-top: 8px;
}

button{
    width: 100%;
}

li{
    list-style-type: none;
}

details{
    position: relative;
    background-color: var(--color-yellow);
    text-align: center;
    width: var(--container-width);
    margin: 0 auto;
    padding: 1rem;
    cursor: pointer;
    border-radius: 16px;
    transition: 1s;
}
details::after{
    position: absolute;
    content:"∨";
    top: 75%;
    left: 50%;
    transform: translateX(-50%);
}

details[open]::after{
    content:"∧";
    top: auto;
    bottom: -1rem;
}

summary{
    font-family: var(--font-family-title-black);
    font-size: var(--font-size-30);
    list-style-type: none;
}

footer{
    margin-top: 24px;
    color: var(--color-white);
    background-color: var(--color-blue);
    text-align: center;
}

/* */
#header-mini{
    display: flex;
    justify-content: space-between;
    transition: all 0.6s;
}



/* ■■■ 共通クラス：画像のリンクボタン */
.img-btn-top{
    width: 100%;
}

.img-btn-icon,
.img-btn-instagram,
.img-btn-tiktok{
    width: 50px;
    height: 50px;
    padding: 1px;
    margin: 16px;
    background-color: var(--color-white);
}

.img-btn-instagram{
    border-radius: 14px;
}

.img-btn-icon,
.img-btn-tiktok{
    border-radius: 50%;
}
