@charset "UTF-8";

/* ■■■ 背景設定 ■■■ */
.layout-mobile{
    background-image: url("../assets/img/background/geometric1.svg");
}

/* ■■■ ファーストビュー ■■■ */
.firstview-period-style{
    background-color: var(--color-blue);
}

.firstview-ankerlink-style{
    grid-template-areas: 
    "main    main"
    "advance public";
}

.firstview-ankerlink-main-style{
    grid-area: main;
    background-color: var(--color-red);
}

.firstview-ankerlink-advance-style{
    grid-area: advance;
    background-color: var(--color-green);
}

.firstview-ankerlink-public-style{
    grid-area: public;
    background-color: var(--color-yellow);
}


/* ■■■ メインコンテンツ ■■■ */
.main-content-style{
    position: relative;
    margin-top: calc(var(--default-length) * 3);
    z-index: -1;
}

.main-content-style::after{
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 48px;
    background-color: var(--color-white);
    z-index: 0;
}

.main-content-workshop-style{
    position: relative;
    z-index: 10;
}

.main-content-workshop-top-style{
    width: 71%;
}

.main-content-workshop-main-style{
    border: solid 2px var(--color-black);
    margin-top: calc(var(--default-length) * 4);
}

.main-content-workshop-advance-style{
    border: solid 2px var(--color-black);
    margin-top: calc(var(--default-length) * 4);
}

.main-content-workshop-public-style{
    border: solid 2px var(--color-black);
    background-color: var(--color-yellow);
    margin-top: calc(var(--default-length) * 4);
}

