@charset "UTF-8";

/* ■■■ ファーストビュー ■■■ */
/* ファーストビューの基本スタイル */
#first-view{
    padding-top: 16px;
}

#first-view-period{
    position: relative;
    width: 100%;
    text-align: right;
    color: var(--color-font-white);
    background-color: var(--color-blue);
    border: solid 3px var(--color-black);
    border-radius: 24px;
    line-height: 1.2;
    padding: 16px 16px 8px;
    margin-top: 1em;
}

#first-view-period p:nth-child(2){
    margin: 0 0 0 auto;
    width: fit-content;
    border-bottom: 3px solid var(--color-white);
}

#first-view-button{
    display: grid;
    gap: 2em 1em;
    grid-template-areas:
        "main     main"
        "workshop public";
    grid-template-rows: 7.5rem 7.5rem;
    grid-template-columns: 1fr 1fr;
    margin-top: 2em;
}

#first-view-button button{
    position: relative;
    padding: 16px 8px;
    border: solid 3px var(--color-black);
    border-radius: 24px;
    line-height: 1.2;
    padding: 16px 16px 8px;
}

#first-view-button-main{
    grid-area: main;
    color: var(--color-font-white);
    background-color: var(--color-red);
}

#first-view-button-advance{
    grid-area: workshop;
    color: var(--color-font-white);
    background-color: var(--color-green);
}

#first-view-button-public{
    grid-area: public;
    color: var(--color-font);
    background-color: var(--color-yellow);
}

/* ファーストビューの左上の装飾文字 */
#first-view-period::before,
#first-view-button-main::before,
#first-view-button-advance::before,
#first-view-button-public::before{
    position: absolute;
    top: calc(var(--font-size) * -1);
    left: 6px;
    font-family: var(--font-family-title-black);
    width: fit-content;
    background-color: var(--color-white);
    border: solid 2px var(--color-black);
    border-radius: 2em;
    padding: 1px 1em;
    z-index: 1;
}
#first-view-period::before{
    content:"参加無料";
    font-size: var(--font-size-20);
    color: var(--color-font-blue);
}
#first-view-button-main::before{
    content:"8.30";
    font-size: var(--font-size-20);
    color: var(--color-font-red);
}
#first-view-button-advance::before{
    content:" 7.25~　";
    font-size: var(--font-size);
    color: var(--color-font-green);
}
#first-view-button-public::before{
    content:"6.5~8.21";
    font-size: var(--font-size);
    color: var(--color-font);
}

/* ファーストビューのボタンの右下のボタン */
#first-view-button-main::after,
#first-view-button-advance::after,
#first-view-button-public::after{
    position: absolute;
    bottom: var(--font-size-12);
    right: var(--font-size-12);
    content:"";
    background-image: url("../assets/img/button.svg");
    background-size: contain;
    width: var(--font-size);
    height: var(--font-size);
    z-index: 1;
}

#first-view-button-main::after{
    width: var(--font-size-30);
    height: var(--font-size-30);
}


/* ■■■ メインコンテンツ ■■■ */
/* メインコンテンツ */
#main-content-haeding::before{
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: var(--color-yellow);
    z-index: 1;
}
#main-content-haeding{
    position: relative;
    text-align: center;
    background-color: var(--color-white);
    border: solid 2px var(--color-black);
    border-radius: 16px;
    z-index: 2;
}

#main-content-haeding h2{
    color: var(--color-white);
    -webkit-text-stroke: 1px var(--color-black-rich);
    text-shadow: 4px 2px 0px var(--color-black-rich);
}

#main-content-main{
    margin-top: 16px;
    color: var(--color-white);
    text-align: center;
    background-color: var(--color-red);
    clip-path: polygon(25% 0, 75% 0, 100% 50%, 75% 100%, 25% 100%, 0 50%);
    width: 100%;
    aspect-ratio: 1;
    padding: 16px 20%;
}

#main-content-advance{
    margin-top: 16px;
    color: var(--color-white);
    text-align: center;
    background-color: var(--color-green-light);
    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
    width: 100%;
    aspect-ratio: 1;
    padding: 32px 20%;
}

#main-content-public{
    margin-top: 16px;
    text-align: center;
    background-color: var(--color-yellow);
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    width: 100%;
    aspect-ratio: 1;
    padding: 32px 20%;
}
