@charset "UTF-8";

/* ■■■ 背景設定 ■■■ */
.layout-mobile{
    background-image: url("../assets/img/background/geometric1.svg");
}

/* ■■■ ファーストビュー ■■■ */
.firstview-period-style{
    background-color: var(--color-blue);
    margin-top: calc(var(--default-length) * 4);
    padding: calc(var(--default-length) * 2);

    &p{
        border: solid 2px var(--color-white);
    }
}

.firstview-ankerlink-style{
    grid-template-areas:
    "main    main"
    "advance public";
    margin-top: calc(var(--default-length) * 4);
    row-gap: calc(var(--default-length) * 4);
    column-gap: calc(var(--default-length) * 2);
}

.firstview-ankerlink-main-style{
    grid-area: main;
    background-color: var(--color-red);
}

.firstview-ankerlink-advance-style{
    grid-area: advance;
    background-color: var(--color-green);
}

.firstview-ankerlink-public-style{
    grid-area: public;
    background-color: var(--color-yellow);
}


/* ■■■ メインコンテンツ ■■■ */
.main-content-style{
    margin-top: calc(var(--default-length) * 3);
}

.main-content-workshop-style{
    position: relative;
    top: calc(var(--default-length) * -6);
    z-index: 10;
}

.main-content-workshop-top-style{
    width: 71%;
}

.main-content-workshop-main-style{
    border: solid 2px var(--color-black);
    margin-top: calc(var(--default-length) * 4);
}

.main-content-workshop-main-base-style,
.main-content-workshop-advance-base-style{
    width: 100%;
    padding: calc(var(--default-length) * 2);
    background-color: var(--color-white);
}

.main-content-workshop-advance-style{
    border: solid 2px var(--color-black);
    margin-top: calc(var(--default-length) * 4);
}

.main-content-workshop-public-style{
    border: solid 2px var(--color-black);
    background-color: var(--color-yellow);
}

