@charset "UTF-8";

/* ■■■ 背景設定 ■■■ */
.layout-mobile{
    background-image: url("../assets/img/background/geometric3.svg");
}

/* ■■■ ファーストビュー ■■■ */


.infomation-style{
    top: calc(var(--mlen) * -6);
    background-color: var(--color-yellow);
}
