@charset "UTF-8";

/* ▼▼▼ 背景設定 ▼▼▼ */
.layout-mobile{
    background-image: url("../assets/img/background/geometric3.svg");
}



/* ▼▼▼ ファーストビュー ▼▼▼ */
/* ▲▲▲ ファーストビュー ▲▲▲ */



/* ▼▼▼ インフォメーション ▼▼▼ */
main{
    margin-top: var(--mlen3);
}
.infomation-style{
    padding-top: var(--mlen3);
    padding-bottom: calc(var(--mlen) * 12);
    background-color: var(--color-yellow);
}

.infomation-top-style{
    padding-top: var(--mlen6);
}

.infomation-top-detail-style{
    padding: var(--mlen2) calc((100% - var(--layout-mobile-width-content)) * 0.5) 0;
}

.infomation-example-style{
    position: relative;
    margin: var(--mlen6) 0 0 auto;
    padding: var(--mlen6) 0 var(--mlen3);
    border: solid var(--mlen-q) var(--color-black);
    border-top-right-radius:  0;
    border-bottom-right-radius: 0;
    border-right-color: transparent;
    width: var(--layout-mobile-width-content);
    z-index: 0;
}
.infomation-example-style::before{
    content:"かんたん応募";
    position: absolute;
    top: var(--mlen2-n);
    left: var(--mlen8);
    font-family: var(--font-family-title-exbold);
    font-size: var(--font-size-l2);
    /* color: var(--color-font-white); */
}

.infomation-caution-style{
    position: relative;
    top: var(--mlen6-n);
    background-color: var(--color-green);
    border: solid var(--mlen-q) var(--color-black);
}

.infomation-caution-base-style{
    background-color: var(--color-white);
}

.infomation-caution-list-style{
    padding: var(--mlen-h) var(--mlen) 0;
}
.infomation-caution-list-style li{
    list-style-image: url("../assets/img/icon/check.svg");
    list-style-position: outside;
    margin-left: 1em;
    border-bottom: dashed var(--mlen-e) var(--color-black);
}

/* ▲▲▲ インフォメーション ▲▲▲ */



/* ▼▼▼ 募集期間と展示期間 ▼▼▼ */
/* ▲▲▲ 募集期間と展示期間 ▲▲▲ */



/* ▼▼▼ Tシャツデザインにお申し込み ▼▼▼ */
/* ▲▲▲ Tシャツデザインにお申し込み ▲▲▲ */



/* ▼▼▼ 概要 ▼▼▼ */
/* ▲▲▲ 概要 ▲▲▲ */