@charset "UTF-8";

/* ▼▼▼ 背景設定 ▼▼▼ */
.layout-mobile{
    background-image: url("../assets/img/background/geometric3.svg");
}



/* ▼▼▼ ファーストビュー ▼▼▼ */
/* ▲▲▲ ファーストビュー ▲▲▲ */



/* ▼▼▼ インフォメーション ▼▼▼ */
.infomation-style{
    margin-top: var(--mlen6);
    padding-top: var(--mlen6);
    padding-bottom: var(--mlen3);
    background-color: var(--color-green);
}

.infomation-list-style{
    margin-top: var(--mlen3);
}

.infomation-list-style li{
    width: 10em;
    padding: auto 1em;
    margin: 0 auto;
    background-color: var(--color-black);
    border: solid var(--mlen-q) transparent;
    border-radius: var(--mlen2);
}


.infomation-daily-schedule-jyosei-style,
.infomation-daily-schedule-artmuseum-style{
    position: relative;
    padding-top: var(--mlen3);
    z-index: 0;
}

.infomation-daily-schedule-jyosei-style{
    margin-top: var(--mlen7);
}


.infomation-daily-schedule-jyosei-style::before,
.infomation-daily-schedule-artmuseum-style::before{
    position: absolute;
    top: -1em;
    left: 0.5em;
    font-family: var(--font-family-title-exbold);
    font-size: var(--font-size);
    background-color: var(--color-white);
    border: solid var(--mlen-q) var(--color-black);
    border-radius: var(--mlen2);
    box-shadow: var(--mlen-q) var(--mlen-q) 0 var(--color-black);
    padding: 0 1em;
    z-index: 1;
}

.infomation-daily-schedule-jyosei-style::before{
    content:"君のアートが街をジャック！？";
}

.infomation-daily-schedule-artmuseum-style::before{
    content:"アーティストと大型アート作り";
}



/* ▼▼▼ ワークショップ ▼▼▼ */
.workshop-accordion-backcolor-1-style{
    background-color: var(--color-green-light);
}
.workshop-accordion-backcolor-2-style{
    background-color: var(--color-yellow);
}
.workshop-accordion-backcolor-3-style{
    background-color: var(--color-blue);
}
.workshop-accordion-backcolor-4-style{
    background-color: var(--color-red);
}
/* ▲▲▲ ワークショップ ▲▲▲ */