@charset "UTF-8";

/* ▼▼▼ 背景設定 ▼▼▼ */
.layout-mobile{
    background-image: url("../assets/img/background/geometric3.svg");
}


/* ▼▼▼ ファーストビュー ▼▼▼ */
.firstview-style{
    margin-top: var(--mlen4);
    background-color: var(--color-red);
}

.firstview-top-style{
    margin-top: var(--mlen4);
}
.firstview-top-style p:nth-last-child(1){
    display: inline-block;
    margin-top: var(--mlen2);
    width: fit-content;
    padding: 0 2em;
    background-color: var(--color-black);
}
/* ▲▲▲ ファーストビュー ▲▲▲ */


/* ▼▼▼ ワークショップ ▼▼▼ */
/* 各ワークショップの共通デザイン(リングノート風) */
.workshop-list-detail-1-style,
.workshop-list-detail-2-style,
.workshop-list-detail-3-style,
.workshop-list-detail-4-style{
    position: relative;
    padding-top: var(--mlen4);
    margin-top: var(--mlen4);
    border: solid var(--mlen-q) var(--color-black);
    z-index: 0;
}
.workshop-list-detail-1-style::before,
.workshop-list-detail-2-style::before,
.workshop-list-detail-3-style::before,
.workshop-list-detail-4-style::before{
    position: absolute;
    content: "";
    top: var(--mlen-n);
    left: 0;
    right: 0;
    background-image: url("../assets/img/decoration/ring.svg");
    background-size: clamp(228px, 60.8vw, 328.32px);
    background-position: center top;
    width: 100%;
    height: 100%;
    z-index: 1;
}

/* リングノート風の内容 */
.workshop-detail-1-style,
.workshop-detail-2-style,
.workshop-detail-3-style,
.workshop-detail-4-style{
    position: relative;
    z-index: 2;
}

/* リングノート風のボタン */
.workshop-detail-button-red-style,
.workshop-detail-button-white-style{
    position: relative;
    margin-top: var(--mlen);
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    width: 16em;
    border: solid calc(var(--mlen) * 0.125) var(--color-black);
    z-index: 3;
}

.workshop-detail-button-red-style{
    background-color: var(--color-red);
}

.workshop-detail-button-white-style{
    background-color: var(--color-white);
}

/* リングノート風の内容の時間 */
.work-shop-detail-time-style{
    position: relative;
    margin: 0 auto;
    width: fit-content;
}
.work-shop-detail-time-style::after{
    position: absolute;
    content:"";
    bottom: -0.1em;
    left: auto;
    right: -1.2em;
    width: 100%;
    height: 100%;
    background-image: url("../assets/img/character/clock.svg");
    background-position-x: right;
    background-repeat: no-repeat;
    background-size: 1em;
    z-index: 3;
}

/* 怒られない落書き部屋 */
.workshop-list-detail-1-style{
    background-color: var(--color-green-vivid);
}

/* ライブパフォーマンス */
.workshop-list-detail-2-style{
    background-color: var(--color-yellow);
}

/* オリジナルシール作り */
.workshop-list-detail-3-style{
    background-color: var(--color-blue);
}

/* オリジナルTシャツシャツ作り */
.workshop-list-detail-4-style{
    background-color: var(--color-red);
}
/* ▲▲▲ ワークショップ ▲▲▲ */