<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>ミルクせんせーのブログ(Oxmlich's Blog)</title>
  <meta name="description" content="ミルクせんせーのブログです - Oxmilch's Blog by GitHub Pages">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Crawler -->
  <meta name="robots" content="none, nosnippet, noimageindex">
  <meta name="googlebot" content="nosnippet">
  <meta name="googlebot-news" content="nosnippet">
  <!-- OGP Common -->
  <meta property="og:title" content="Oxmlich's Portfolio">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://oxmilch.github.io/blog/">
  <meta property="og:site_name" content="">
  <meta property="og:description" content="ミルクせんせーのブログです - Oxmilch's Blog by GitHub Pages">
  <meta property="og:locale" content="ja_JP">
  <!-- OGP X -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@oxmilch">
  <meta name="twitter:creator" content="@oxmilch">
  <meta name="twitter:title" content="Oxmilch's Portfolio">
  <meta name="twitter:description" content="ミルクせんせーのブログです - Oxmilch's Blog By GitHub Pages">
  <!-- ResetCSS -->
  <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@400;500;700&display=swap" rel="stylesheet">
  <!-- Favicon -->
  <link rel="icon" href="{{'/blog/assets/images/favicon.svg'}}">
  <!-- Style -->
  <link rel="stylesheet" href="{{'/blog/assets/css/style.css'}}">
</head>
<body id="top">
  <header>
    <div class="container">
      <h1><a href="/blog/index.html">ミルクせんせーのブログ</a></h1>
      <nav>
        <ul>
          <li><a href="https://x.com/oxmilch">X</a></li>
          <li><a href="https://github.com/Oxmilch/">GitHub Top</a></li>
          <li><a>Portfolio</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <main class="container">
    <article>
      <div class="container">
      {% if page.title %}
        <h1>{{ page.title }}</h1>
      {% endif %}
      <div id="article_header">
        {% if page.last_modified_at %}
          <span>登録日：</span><time>{{ page.date | date:"%Y-%m-%d" }}</time><br>
          <span>更新日：</span><time datetime="{{ page.last_modified_at }}">{{ page.last_modified_at | date: "%Y-%m-%d %H:%M" }}</time>
        {% else %}
          <span>登録日：</span><time datetime="{{ page.date }}">{{ page.date | date:"%Y-%m-%d" }}</time>
        {% endif %}
      </div>
      {{ content }}
      </div>
    </article>
    <aside>
      <div class="container">
        <h2>プロフィール</h2>
        <dL>
          <img src="/blog/assets/images/profile.webp" alt="プロフィール画像">
          <dt>ミルクせんせー (@oxmilch)</dt>
          <dd>
            <p>バックエンドエンジニアとして8年間働き、リスキリングでデザイン関連を学んでいます。</p>
            <p>パソコン、スマホ、ゲームやガジェットが好きで、プログラムやネットワーク構築などもプライベートでも嗜んでいます。</p>
          </dd>
        </dL>
        <h2>最近の投稿</h2>
        <ul>
          {% for post in site.posts limit:15 %}
            <li>
              <a href="{{ post.url | relative_url }}">{{ post.title }}</a> - {{ post.date | date: "%Y-%m-%d" }}
            </li>
          {% endfor %}
        </ul>
      </div>
    </aside>
  </main>
  <footer>
    <p>This <a href="https://jekyllrb.com/">Jekyll Page</a> generated by <a href="https://pages.github.com">GitHub Pages</a>.</p>
    <small>&copy;2026- Oxmilch</small>
  </footer>
</body>
</html>